Node-Red Implementation
[{"id":"a286f4c0.9746f8","type":"mqtt in","z":"57912294.b2e29c","name":"AWS","topic":"$aws/things/BE7A0200000001A0/shadow/update/accepted","qos":"0","broker":"db9df79a.367ce8","x":70,"y":240,"wires":[["9731e5d.813cc18"]]},{"id":"dbc697b2.119e98","type":"function","z":"57912294.b2e29c","name":"Count","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = buf.readInt32BE(0);\nmsg.payload = value1;\nmsg.topic = \"Count\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1330,"y":120,"wires":[["a05d19d9.de42b8","385aa9c6.c7e796"]],"outputLabels":["data"]},{"id":"dac9d605.2add48","type":"rbe","z":"57912294.b2e29c","name":"OneMessage","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":810,"y":240,"wires":[["e597afa8.bd05d"]]},{"id":"a05d19d9.de42b8","type":"debug","z":"57912294.b2e29c","name":"Count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1530,"y":60,"wires":[]},{"id":"f91e5798.e513f8","type":"function","z":"57912294.b2e29c","name":"Voltage","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(4).toFixed(3));\nmsg.payload = value1;\nmsg.topic = \"Voltage\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":200,"wires":[["d3b01a6e.4a9b68"]],"outputLabels":["data"]},{"id":"47551780.449448","type":"debug","z":"57912294.b2e29c","name":"Voltage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2020,"y":60,"wires":[]},{"id":"acd4e3bc.e16f5","type":"function","z":"57912294.b2e29c","name":"Dew Point","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(8).toFixed(2));\nmsg.payload = value1;\nmsg.topic = \"Dew Point\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1350,"y":320,"wires":[["ce95bc1b.73724"]],"outputLabels":["data"]},{"id":"130bcbd8.e63764","type":"debug","z":"57912294.b2e29c","name":"Dew Point","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2030,"y":220,"wires":[]},{"id":"33c95920.7a6f06","type":"debug","z":"57912294.b2e29c","name":"Data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":180,"wires":[]},{"id":"1f7fe487.d4517b","type":"debug","z":"57912294.b2e29c","name":"Freq","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2010,"y":1740,"wires":[]},{"id":"3ed78e53.bc7522","type":"debug","z":"57912294.b2e29c","name":"RSSI","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2010,"y":1620,"wires":[]},{"id":"e5b09fcf.1f36b","type":"function","z":"57912294.b2e29c","name":"Temperature","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(12).toFixed(2));\nmsg.payload = value1;\nmsg.topic = \"Temperature\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1350,"y":420,"wires":[["a29632dc.34701"]],"outputLabels":["data"]},{"id":"56c16a7e.647bb4","type":"debug","z":"57912294.b2e29c","name":"Temperature","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2030,"y":340,"wires":[]},{"id":"9731e5d.813cc18","type":"json","z":"57912294.b2e29c","name":"","property":"payload","action":"","pretty":false,"x":210,"y":240,"wires":[["552b68e6.434ce8","9fe2f761.233048"]]},{"id":"8cdbef62.583c","type":"function","z":"57912294.b2e29c","name":"Strip Data","func":"var value = msg.payload.state.reported.data;\nmsg.payload = value;\nmsg.topic = \"Data\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":240,"wires":[["94c424fe.6cdf68","dac9d605.2add48"]]},{"id":"45a30ede.ec853","type":"ui_gauge","z":"57912294.b2e29c","name":"Voltage","group":"76641e2c.a03f3","order":2,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"Volts","format":"{{value}}","min":0,"max":"6","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2020,"y":100,"wires":[]},{"id":"4826769a.13eb18","type":"ui_gauge","z":"57912294.b2e29c","name":"","group":"76641e2c.a03f3","order":3,"width":0,"height":0,"gtype":"gage","title":"Dew Point","label":"Deg.C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2030,"y":260,"wires":[]},{"id":"5747e68a.7d4258","type":"ui_chart","z":"57912294.b2e29c","name":"Voltage","group":"9d6f7f00.a1071","order":1,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2020,"y":140,"wires":[[],[]]},{"id":"d4b99094.95633","type":"ui_gauge","z":"57912294.b2e29c","name":"Temperature","group":"76641e2c.a03f3","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Deg.C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2030,"y":460,"wires":[]},{"id":"634775b3.1720ac","type":"ui_chart","z":"57912294.b2e29c","name":"Temperature","group":"9d6f7f00.a1071","order":3,"width":0,"height":0,"label":"Temp & Dewpoint","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"80","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2030,"y":380,"wires":[[],[]]},{"id":"385aa9c6.c7e796","type":"ui_text","z":"57912294.b2e29c","group":"f892e33.81bc42","order":1,"width":0,"height":0,"name":"Count","label":"Count1","format":"{{msg.payload}}","layout":"row-spread","x":1530,"y":120,"wires":[]},{"id":"94c424fe.6cdf68","type":"debug","z":"57912294.b2e29c","name":"Data2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":180,"wires":[]},{"id":"552b68e6.434ce8","type":"debug","z":"57912294.b2e29c","name":"JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":180,"wires":[]},{"id":"d81cf00d.0eec4","type":"function","z":"57912294.b2e29c","name":"Strip Freq","func":"var value = msg.payload.state.reported.freq;\nvalue1 = value/1000000;\nmsg.payload = value1;\nmsg.topic = \"Freq\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["82ea61a1.669b"]]},{"id":"b39e217c.60b17","type":"function","z":"57912294.b2e29c","name":"Strip RSSI","func":"var value = msg.payload.state.reported.rssi;\nmsg.payload = value;\nmsg.topic = \"RSSI\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["539ac88a.be30a8"]]},{"id":"9fe2f761.233048","type":"switch","z":"57912294.b2e29c","name":"Check If Empty","property":"payload.state.reported.cmd","propertyType":"msg","rules":[{"t":"eq","v":"rx","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":240,"wires":[["b39e217c.60b17","d81cf00d.0eec4","33c95920.7a6f06","8cdbef62.583c","8ec89718.cd0418","485e0fe1.f3329","2930db5d.a75e84"]]},{"id":"98c280c7.7e14f","type":"function","z":"57912294.b2e29c","name":"Altitude","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(16).toFixed(1));\nmsg.payload = value1;\nmsg.topic = \"Altitude\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":680,"wires":[["984e5a33.662a88"]],"outputLabels":["data"]},{"id":"66a894e6.71043c","type":"debug","z":"57912294.b2e29c","name":"Altitude","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2020,"y":620,"wires":[]},{"id":"2a6b0e70.5f9d92","type":"ui_gauge","z":"57912294.b2e29c","name":"Altitude","group":"faec7df0.06019","order":7,"width":0,"height":0,"gtype":"gage","title":"Altitude","label":"m","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2020,"y":660,"wires":[]},{"id":"e228d172.9357e","type":"function","z":"57912294.b2e29c","name":"Pressure","func":"var buf = new Buffer(msg.payload,'hex');\nvalue = parseFloat(buf.readFloatBE(20).toFixed(0));\nvalue1 = value/100;\nmsg.payload = value1;\nmsg.topic = \"Pressure\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":780,"wires":[["a055b03e.878f9"]],"outputLabels":["data"]},{"id":"a1e1a776.bd5cc8","type":"debug","z":"57912294.b2e29c","name":"Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2020,"y":740,"wires":[]},{"id":"4102830c.59d4ac","type":"ui_gauge","z":"57912294.b2e29c","name":"Pressure","group":"76641e2c.a03f3","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"kPa","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2020,"y":780,"wires":[]},{"id":"f7e17b92.26fd58","type":"function","z":"57912294.b2e29c","name":"Temperature2","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(24).toFixed(2));\nmsg.payload = value1;\nmsg.topic = \"Temperature2\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":540,"wires":[["4a5f37a6.245598"]],"outputLabels":["data"]},{"id":"a53ac7e1.5dd048","type":"debug","z":"57912294.b2e29c","name":"Temperature2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2040,"y":500,"wires":[]},{"id":"568cc553.f4064c","type":"ui_gauge","z":"57912294.b2e29c","name":"Temperature2","group":"faec7df0.06019","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature2","label":"Deg.C","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2040,"y":580,"wires":[]},{"id":"e095e06e.90bb6","type":"function","z":"57912294.b2e29c","name":"Humidity","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(28).toFixed(1));\nmsg.payload = value1;\nmsg.topic = \"Humidity\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1340,"y":880,"wires":[["44edbde4.1148d4"]],"outputLabels":["data"]},{"id":"95fae51a.7aa878","type":"debug","z":"57912294.b2e29c","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2020,"y":860,"wires":[]},{"id":"664a0aa9.181ff4","type":"ui_gauge","z":"57912294.b2e29c","name":"Humidity","group":"faec7df0.06019","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%RH","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2020,"y":900,"wires":[]},{"id":"c6b1d0f8.bae87","type":"function","z":"57912294.b2e29c","name":"Relative Humidity","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(32).toFixed(1));\nmsg.payload = value1;\nmsg.topic = \"Relative Humidity\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1370,"y":1000,"wires":[["835e6942.36cc48"]],"outputLabels":["data"]},{"id":"fa1ebcd8.fbf96","type":"debug","z":"57912294.b2e29c","name":"Rel. Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2030,"y":980,"wires":[]},{"id":"7f60c34.9ee983c","type":"ui_gauge","z":"57912294.b2e29c","name":"Rel. Humidity","group":"faec7df0.06019","order":4,"width":0,"height":0,"gtype":"gage","title":"Rel Humidity","label":"%RH","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2030,"y":1020,"wires":[]},{"id":"44ab388b.ae6e78","type":"function","z":"57912294.b2e29c","name":"Acceleration1","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(36).toFixed(3));\nmsg.payload = value1;\nmsg.topic = \"Acceleration1\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":1120,"wires":[["46198578.14844c"]],"outputLabels":["data"]},{"id":"edcc267b.e1ce48","type":"debug","z":"57912294.b2e29c","name":"Acceleration1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2040,"y":1100,"wires":[]},{"id":"cf4122a3.c9508","type":"ui_gauge","z":"57912294.b2e29c","name":"Acceleration1","group":"3ebf8f2a.0a93d","order":1,"width":0,"height":0,"gtype":"gage","title":"Acceleration1","label":"%","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2040,"y":1140,"wires":[]},{"id":"d955e399.274e8","type":"function","z":"57912294.b2e29c","name":"Roll","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(48).toFixed(3));\nmsg.payload = value1;\nmsg.topic = \"Roll\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1030,"y":1480,"wires":[["55980a80.ebf844"]],"outputLabels":["data"]},{"id":"55980a80.ebf844","type":"debug","z":"57912294.b2e29c","name":"Roll","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":1440,"wires":[]},{"id":"83a54244.67287","type":"function","z":"57912294.b2e29c","name":"Pitch","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(52).toFixed(3));\nmsg.payload = value1;\nmsg.topic = \"Pitch\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1030,"y":1560,"wires":[["5e9579ce.ba1268"]],"outputLabels":["data"]},{"id":"5e9579ce.ba1268","type":"debug","z":"57912294.b2e29c","name":"Pitch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":1520,"wires":[]},{"id":"89eff566.35a078","type":"function","z":"57912294.b2e29c","name":"Acceleration2","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(40).toFixed(3));\nmsg.payload = value1;\nmsg.topic = \"Acceleration2\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":1260,"wires":[["2770397b.bd5306"]],"outputLabels":["data"]},{"id":"c736c915.98b958","type":"debug","z":"57912294.b2e29c","name":"Acceleration2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2040,"y":1220,"wires":[]},{"id":"467141e9.f0d12","type":"ui_gauge","z":"57912294.b2e29c","name":"Acceleration2","group":"3ebf8f2a.0a93d","order":2,"width":0,"height":0,"gtype":"gage","title":"Acceleration2","label":"%","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2040,"y":1260,"wires":[]},{"id":"8cc1a43c.700b38","type":"function","z":"57912294.b2e29c","name":"Acceleration3","func":"var buf = new Buffer(msg.payload,'hex');\nvalue1 = parseFloat(buf.readFloatBE(44).toFixed(3));\nmsg.payload = value1;\nmsg.topic = \"Acceleration3\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1360,"y":1380,"wires":[["c7ba1e75.2c0d9"]],"outputLabels":["data"]},{"id":"ddbaba02.907278","type":"debug","z":"57912294.b2e29c","name":"Acceleration3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2040,"y":1340,"wires":[]},{"id":"613a25e1.1b90cc","type":"ui_gauge","z":"57912294.b2e29c","name":"Acceleration3","group":"3ebf8f2a.0a93d","order":3,"width":0,"height":0,"gtype":"gage","title":"Acceleration3","label":"%","format":"{{value}}","min":"-10","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2040,"y":1380,"wires":[]},{"id":"230420ef.efb93","type":"debug","z":"57912294.b2e29c","name":"SNR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2010,"y":1540,"wires":[]},{"id":"8ec89718.cd0418","type":"function","z":"57912294.b2e29c","name":"Strip SNR","func":"var value = msg.payload.state.reported.snr;\nmsg.payload = value;\nmsg.topic = \"snr\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":420,"wires":[["c7db5de1.787ad"]]},{"id":"dc1411a8.fc903","type":"debug","z":"57912294.b2e29c","name":"SF","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2010,"y":1460,"wires":[]},{"id":"485e0fe1.f3329","type":"function","z":"57912294.b2e29c","name":"Strip SF","func":"var value = msg.payload.state.reported.dr;\nmsg.payload = value;\nmsg.topic = \"Spreading Factor\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["ee0e611d.caa47"]]},{"id":"2da9d240.06c10e","type":"debug","z":"57912294.b2e29c","name":"Timestamp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":540,"wires":[]},{"id":"2930db5d.a75e84","type":"function","z":"57912294.b2e29c","name":"Time Stamp","func":"var value = msg.payload.timestamp;\nmsg.payload = value;\nmsg.topic = \"Time Stamp\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["2da9d240.06c10e"]]},{"id":"cb88e1fd.83394","type":"ui_chart","z":"57912294.b2e29c","name":"Frequency","group":"9d6f7f00.a1071","order":0,"width":0,"height":0,"label":"Frequency","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"864862500","ymax":"866600000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2030,"y":1700,"wires":[[],[]]},{"id":"983319f9.0fc4c8","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Acceleration3","precision":"","retentionPolicy":"","x":2100,"y":1420,"wires":[]},{"id":"233d64b6.b6d26c","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Acceleration2","precision":"","retentionPolicy":"","x":2100,"y":1300,"wires":[]},{"id":"a885a928.0c4028","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Acceleration1","precision":"","retentionPolicy":"","x":2100,"y":1180,"wires":[]},{"id":"41f31969.6beb28","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Rel_Humidity","precision":"","retentionPolicy":"","x":2100,"y":1060,"wires":[]},{"id":"946cc8ef.5eade8","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Humidity","precision":"","retentionPolicy":"","x":2090,"y":940,"wires":[]},{"id":"c9ce5f6e.0cb28","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Temperature2","precision":"","retentionPolicy":"","x":2110,"y":540,"wires":[]},{"id":"2bbadc3c.8527d4","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Temperature1","precision":"","retentionPolicy":"","x":2110,"y":420,"wires":[]},{"id":"ad8434b0.54b308","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Pressure","precision":"","retentionPolicy":"","x":2090,"y":820,"wires":[]},{"id":"b5c18e85.9aa51","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Altitude","precision":"","retentionPolicy":"","x":2090,"y":700,"wires":[]},{"id":"4d47b53d.9355ac","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Dew_Point","precision":"","retentionPolicy":"","x":2100,"y":300,"wires":[]},{"id":"a20a242.63cffd8","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Voltage","precision":"","retentionPolicy":"","x":2090,"y":180,"wires":[]},{"id":"49a2d40f.e9442c","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"RSSI","precision":"","retentionPolicy":"","x":2080,"y":1660,"wires":[]},{"id":"3fa6b3a9.54826c","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"Frequency","precision":"","retentionPolicy":"","x":2100,"y":1780,"wires":[]},{"id":"5dfcf662.eb5978","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"SNR","precision":"","retentionPolicy":"","x":2080,"y":1580,"wires":[]},{"id":"7978ec32.d7d354","type":"influxdb out","z":"57912294.b2e29c","influxdb":"35b4dc9f.7dc504","name":"","measurement":"SF","precision":"","retentionPolicy":"","x":2070,"y":1500,"wires":[]},{"id":"e2445556.f56028","type":"mqtt out","z":"57912294.b2e29c","name":"","topic":"","qos":"","retain":"","broker":"d2f08836.26f8f8","x":2010,"y":1860,"wires":[]},{"id":"e597afa8.bd05d","type":"link out","z":"57912294.b2e29c","name":"Data","links":["2e19a12b.412ace","3eff5eef.fcc1f2","457aca61.d66b34","55b72a0f.c6aef4","59ed0303.58dc1c","5f391b44.d13ea4","96c75dbb.9450e","b6335be.10acda8","c3e1e07f.6bae1","cbc8991d.2dc868","d8f61f64.371af","dd5a68da.672788"],"x":935,"y":240,"wires":[]},{"id":"96c75dbb.9450e","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":200,"wires":[["f91e5798.e513f8"]]},{"id":"457aca61.d66b34","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":320,"wires":[["acd4e3bc.e16f5"]]},{"id":"dd5a68da.672788","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":420,"wires":[["e5b09fcf.1f36b"]]},{"id":"55b72a0f.c6aef4","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":680,"wires":[["98c280c7.7e14f"]]},{"id":"cbc8991d.2dc868","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":780,"wires":[["e228d172.9357e"]]},{"id":"d8f61f64.371af","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":540,"wires":[["f7e17b92.26fd58"]]},{"id":"5f391b44.d13ea4","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":880,"wires":[["e095e06e.90bb6"]]},{"id":"b6335be.10acda8","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":1000,"wires":[["c6b1d0f8.bae87"]]},{"id":"3eff5eef.fcc1f2","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":1120,"wires":[["44ab388b.ae6e78"]]},{"id":"59ed0303.58dc1c","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":1260,"wires":[["89eff566.35a078"]]},{"id":"2e19a12b.412ace","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":1380,"wires":[["8cc1a43c.700b38"]]},{"id":"1acbb3b0.22133c","type":"link in","z":"57912294.b2e29c","name":"","links":["2770397b.bd5306","44edbde4.1148d4","46198578.14844c","4a5f37a6.245598","539ac88a.be30a8","82ea61a1.669b","835e6942.36cc48","984e5a33.662a88","a055b03e.878f9","a29632dc.34701","c7ba1e75.2c0d9","c7db5de1.787ad","ce95bc1b.73724","d3b01a6e.4a9b68","ee0e611d.caa47"],"x":1835,"y":1860,"wires":[["e2445556.f56028"]]},{"id":"82ea61a1.669b","type":"link out","z":"57912294.b2e29c","name":"Freq","links":["1acbb3b0.22133c","51058245.94d03c"],"x":735,"y":300,"wires":[]},{"id":"539ac88a.be30a8","type":"link out","z":"57912294.b2e29c","name":"RSSI","links":["1acbb3b0.22133c","fdeccafe.7fbae8"],"x":735,"y":360,"wires":[]},{"id":"c7db5de1.787ad","type":"link out","z":"57912294.b2e29c","name":"SNR","links":["1acbb3b0.22133c","d1ff9b57.9439a8"],"x":735,"y":420,"wires":[]},{"id":"ee0e611d.caa47","type":"link out","z":"57912294.b2e29c","name":"SF","links":["1acbb3b0.22133c","48390e48.25007"],"x":735,"y":480,"wires":[]},{"id":"d3b01a6e.4a9b68","type":"link out","z":"57912294.b2e29c","name":"Voltage","links":["ca535a88.6e6368","1acbb3b0.22133c"],"x":1495,"y":200,"wires":[]},{"id":"ca535a88.6e6368","type":"link in","z":"57912294.b2e29c","name":"","links":["d3b01a6e.4a9b68"],"x":1815,"y":140,"wires":[["a20a242.63cffd8","5747e68a.7d4258","45a30ede.ec853","47551780.449448"]]},{"id":"4c83735b.e6185c","type":"link in","z":"57912294.b2e29c","name":"","links":["ce95bc1b.73724"],"x":1815,"y":260,"wires":[["130bcbd8.e63764","4826769a.13eb18","4d47b53d.9355ac","634775b3.1720ac"]]},{"id":"ce95bc1b.73724","type":"link out","z":"57912294.b2e29c","name":"Dew Point","links":["4c83735b.e6185c","1acbb3b0.22133c"],"x":1495,"y":320,"wires":[]},{"id":"a29632dc.34701","type":"link out","z":"57912294.b2e29c","name":"Temperature","links":["a522dd9d.a94fa","1acbb3b0.22133c"],"x":1495,"y":420,"wires":[]},{"id":"a522dd9d.a94fa","type":"link in","z":"57912294.b2e29c","name":"","links":["a29632dc.34701"],"x":1820,"y":360,"wires":[["56c16a7e.647bb4","634775b3.1720ac","2bbadc3c.8527d4","d4b99094.95633"]]},{"id":"4a5f37a6.245598","type":"link out","z":"57912294.b2e29c","name":"Temp2","links":["3015f8dc.9f93e8","1acbb3b0.22133c"],"x":1515,"y":540,"wires":[]},{"id":"3015f8dc.9f93e8","type":"link in","z":"57912294.b2e29c","name":"","links":["4a5f37a6.245598"],"x":1815,"y":540,"wires":[["a53ac7e1.5dd048","c9ce5f6e.0cb28","568cc553.f4064c","634775b3.1720ac"]]},{"id":"984e5a33.662a88","type":"link out","z":"57912294.b2e29c","name":"Altitude","links":["f61fccd9.ab726","1acbb3b0.22133c"],"x":1495,"y":680,"wires":[]},{"id":"f61fccd9.ab726","type":"link in","z":"57912294.b2e29c","name":"","links":["984e5a33.662a88"],"x":1815,"y":680,"wires":[["2a6b0e70.5f9d92","66a894e6.71043c","b5c18e85.9aa51"]]},{"id":"a055b03e.878f9","type":"link out","z":"57912294.b2e29c","name":"Pressure","links":["4d926599.4cbebc","1acbb3b0.22133c"],"x":1495,"y":780,"wires":[]},{"id":"4d926599.4cbebc","type":"link in","z":"57912294.b2e29c","name":"","links":["a055b03e.878f9"],"x":1815,"y":780,"wires":[["4102830c.59d4ac","a1e1a776.bd5cc8","ad8434b0.54b308"]]},{"id":"44edbde4.1148d4","type":"link out","z":"57912294.b2e29c","name":"Humidity","links":["2f6ca98c.413d96","1acbb3b0.22133c"],"x":1495,"y":880,"wires":[]},{"id":"2f6ca98c.413d96","type":"link in","z":"57912294.b2e29c","name":"","links":["44edbde4.1148d4"],"x":1815,"y":880,"wires":[["95fae51a.7aa878","664a0aa9.181ff4","946cc8ef.5eade8"]]},{"id":"835e6942.36cc48","type":"link out","z":"57912294.b2e29c","name":"Rel Hum","links":["46bdcee6.85dbd","1acbb3b0.22133c"],"x":1495,"y":1000,"wires":[]},{"id":"46bdcee6.85dbd","type":"link in","z":"57912294.b2e29c","name":"","links":["835e6942.36cc48"],"x":1815,"y":1020,"wires":[["fa1ebcd8.fbf96","7f60c34.9ee983c","41f31969.6beb28"]]},{"id":"46198578.14844c","type":"link out","z":"57912294.b2e29c","name":"Accel1","links":["230379ad.ef7666","1acbb3b0.22133c"],"x":1495,"y":1120,"wires":[]},{"id":"230379ad.ef7666","type":"link in","z":"57912294.b2e29c","name":"","links":["46198578.14844c"],"x":1815,"y":1140,"wires":[["cf4122a3.c9508","edcc267b.e1ce48","a885a928.0c4028"]]},{"id":"e7389d1b.cf92","type":"link in","z":"57912294.b2e29c","name":"","links":["2770397b.bd5306"],"x":1815,"y":1260,"wires":[["c736c915.98b958","467141e9.f0d12","233d64b6.b6d26c"]]},{"id":"2770397b.bd5306","type":"link out","z":"57912294.b2e29c","name":"Accel2","links":["e7389d1b.cf92","1acbb3b0.22133c"],"x":1495,"y":1260,"wires":[]},{"id":"c7ba1e75.2c0d9","type":"link out","z":"57912294.b2e29c","name":"Accel3","links":["8eb6972b.2e0568","1acbb3b0.22133c"],"x":1495,"y":1380,"wires":[]},{"id":"8eb6972b.2e0568","type":"link in","z":"57912294.b2e29c","name":"","links":["c7ba1e75.2c0d9"],"x":1815,"y":1380,"wires":[["613a25e1.1b90cc","ddbaba02.907278","983319f9.0fc4c8"]]},{"id":"c3e1e07f.6bae1","type":"link in","z":"57912294.b2e29c","name":"","links":["e597afa8.bd05d"],"x":1215,"y":120,"wires":[["dbc697b2.119e98"]]},{"id":"48390e48.25007","type":"link in","z":"57912294.b2e29c","name":"","links":["ee0e611d.caa47"],"x":1820,"y":1500,"wires":[["dc1411a8.fc903","7978ec32.d7d354"]]},{"id":"d1ff9b57.9439a8","type":"link in","z":"57912294.b2e29c","name":"","links":["c7db5de1.787ad"],"x":1815,"y":1580,"wires":[["230420ef.efb93","5dfcf662.eb5978"]]},{"id":"fdeccafe.7fbae8","type":"link in","z":"57912294.b2e29c","name":"","links":["539ac88a.be30a8"],"x":1815,"y":1660,"wires":[["3ed78e53.bc7522","49a2d40f.e9442c"]]},{"id":"51058245.94d03c","type":"link in","z":"57912294.b2e29c","name":"","links":["82ea61a1.669b"],"x":1815,"y":1740,"wires":[["1f7fe487.d4517b","cb88e1fd.83394","3fa6b3a9.54826c"]]},{"id":"db9df79a.367ce8","type":"mqtt-broker","z":"","name":"My AWS IOT Server","broker":"a4d3w1z4au5xv.iot.us-west-2.amazonaws.com","port":"8883","tls":"8895894b.2976d8","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"76641e2c.a03f3","type":"ui_group","z":"","name":"FiPy","tab":"dabdb263.880e5","order":1,"disp":false,"width":"3","collapse":false},{"id":"9d6f7f00.a1071","type":"ui_group","z":"","name":"Trends","tab":"dabdb263.880e5","order":4,"disp":true,"width":"11","collapse":false},{"id":"f892e33.81bc42","type":"ui_group","z":"","name":"CPU","tab":"dabdb263.880e5","order":5,"disp":true,"width":"4","collapse":false},{"id":"faec7df0.06019","type":"ui_group","z":"","name":"FiPy2","tab":"dabdb263.880e5","order":2,"disp":false,"width":"3","collapse":false},{"id":"3ebf8f2a.0a93d","type":"ui_group","z":"","name":"FiPy3","tab":"dabdb263.880e5","order":3,"disp":false,"width":"3","collapse":false},{"id":"35b4dc9f.7dc504","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"simon","name":"","usetls":false,"tls":"8895894b.2976d8"},{"id":"d2f08836.26f8f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"30","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"8895894b.2976d8","type":"tls-config","z":"","name":"AWS","cert":"/home/smbunn61/certs/4d7f2d654e-certificate.pem.crt","key":"/home/smbunn61/certs/4d7f2d654e-private.pem.key","ca":"/home/smbunn61/certs/root CA for AWS from Symantec Certificate.txt","certname":"","keyname":"","caname":"","verifyservercert":true},{"id":"dabdb263.880e5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1}]
